cmake-*
.cache
.git
build*
!build.sh
.idea
.vscode
.DS_Store
verbose
compile_commands.json
__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
pybind/examples/dump/*
!pybind/examples/dump/.gitkeep
download/
third_party/
.worktrees/
